.app-footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
}
